<%- include("header") -%>

<h2>This is the about page</h2>

<p>Welcome to our To-Do List app! Our mission is to help you stay organized and productive in your personal and professional life.

  We understand that with so many things to do, it can be challenging to keep track of everything. That's why we've created an app that is simple to use, yet powerful enough to help you manage your tasks and responsibilities with ease.
  
  Our To-Do List app offers a variety of features designed to help you streamline your workday. You can create lists for different projects or areas of your life, set deadlines and reminders, prioritize tasks, and even collaborate with others on shared lists.
  
  Whether you're a busy professional, a student, a parent, or just someone looking to stay on top of their daily tasks, our To-Do List app has something for everyone.
  
  We believe that everyone deserves to have a stress-free and productive day, and our app is designed to help you achieve just that. So why wait? Start using our To-Do List app today and take the first step towards a more organized and productive life.
  
  
  
  </p>

<%- include("footer") -%>